<%- include('./partials/header'); %>

<div class="container">


<h1>Welcome to your Appointment Application</h1>

<a class="btn btn-primary" href="/appointment" role="button">Book an Appointment</a>


</div><!--Container div-->

<%- include('./partials/footer'); %>
